.matrix-form-group {
  // CSS Variables

  // Layout styles
  position: relative;
  display: flex;
  // width: 28%;
  height: 25px;
  margin-bottom: 5px;

  @media (max-width: 480px) {
    width: 100%;
  }

  & > span,
  .matrix-form-field {
    white-space: nowrap;
    display: block;
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:first-child {
      border-radius: 2px 0 0 2px;
    }
    &:last-child {
      border-radius: 0 2px 2px 0;
    }
    &:not(:first-child) {
      margin-left: -1px;
    }
  }

  .matrix-form-field {
    position: relative;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
  }

  & > span {
    text-align: center;
    width: 100px;
    font-size: 10px;
    line-height: 25px;
    font-weight: bold;
    // color: var(--matrix-group-color);
    // background: var(--matrix-group-background);
    // border: 1px solid var(--matrix-group-border);
    transition:
      background 0.3s ease,
      border 0.3s ease,
      color 0.3s ease;
  }
}

.matrix-form-field {
  display: block;
  width: 100%;
  padding: 5px 5px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  appearance: none;
  //   color: var(--matrix-input-color);
  //   border: 1px solid var(--matrix-input-border);
  //   background: var(--matrix-input-background);
  transition: border 0.3s ease;

  &::placeholder {
    color: var(--matrix-input-placeholder);
  }

  &:focus {
    outline: none;
    border-color: var(--matrix-input-border-focus);
  }
}
