.title {
  display: flex;
}

.FlexiRowMatrix {
  display: flex;

  justify-content: space-between;
  align-items: baseline;
  position: relative;
  top: -0.5rem;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}