.containerLabel {
  border-radius: 5px;
  cursor: pointer;
  color: #052A38;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.35rem;
  padding-left: 5px;

  & * {
    font-size: 1.2rem !important;
  }

  & .imageContainer {
    display: flex;
    text-align: center !important;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;

  }
}