.listMakerContainer {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: linear 0.2s;
  min-width: 18rem;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.listMakerHeader {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-bottom: solid thin#353535;
  padding-block: 5px;
  box-sizing: border-box;
  padding-bottom: 1rem;

  &>div {
    flex: 1;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    &>* {
      flex: 1 !important;
      max-width: none !important;
      width: 100%;
    }
  }
}

.line {
  flex: 1.5;
  height: 100%;
}

.listMakerHeader B {
  font-size: 1rem;
  font-weight: bold;
  color: #353535;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 2rem;
}

.noItems {
  background-color: transparent !important;
  font-size: 1rem;
  padding: 5px;
}

.removeButton {
  background-color: transparent !important;
  border: none;
  outline: none;
  align-items: center;
  padding: 0 !important;
  width: auto;
  justify-content: center;
  color: #ff0000;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}

.iconToExpand {
  background-color: transparent !important;
  border: none;
  outline: none;
  align-items: center;
  padding: 0 !important;
  width: auto;
  justify-content: center;
  transition: linear 0.2s;
}

.listContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 0.5rem;

  height: 8rem;

  overflow-y: auto;

  &>div:hover {
    background-color: #dedede;
  }
}

.listContentLoading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 0.5rem;

  height: 8rem;

  overflow-y: auto;
}

.removableRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 5px;
}

.iconExpanded {
  @extend .iconToExpand;

  &>* {
    transform: rotate(90deg);
    transition: linear 0.2s;
  }
}

@keyframes extend {
  from {
    height: 0;
  }

  to {
    height: auto;
  }
}

.content {
  width: 100%;
  overflow: hidden;
  height: 0;
  box-sizing: border-box;
}

.contentExpanded {
  @extend .content;
  animation: extend 0.1s ease-in-out 0s 1 forwards;
}