.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 5rem;
  margin-bottom: 1rem;
  row-gap: 1rem;
  @media (max-width: 560px) {
    grid-template-columns: 1fr;
  }

  & > * {
    margin-left: 1rem;
  }

  & > input {
    border: solid thin lightgray;
    border-radius: 3px;
    padding: 5px 10px 7.5px 10px;
    height: 1rem;
  }

  & > .ToggleContainer {
    border: solid thin lightgray;
    border-radius: 3px;
    margin: 0;
    padding: 0;

    overflow: hidden;
    flex: unset !important;
  }

  &:last-child {
    @media (max-width: 560px) {
      margin-bottom: 1rem;
    }
  }
}
